   #logo{
                
    }
    body{ 
        background-color: #ebeff5;
    }
    #total-orders{
        background-color: #4cb4c7;
    }
            
    #orders-delievered{
        background-color: #7abecc;
    }
            
    #orders-pending{
        background-color: #7CD1C0;
    }